/*
==========================================
    Universidad del Valle de Guatemala
    Sistemas y tecnologias web

    Jose Martinez
    15163

    Laboratorio #6
==========================================
*/

.nav-bar{
    background: rgb(102, 102, 221);
    color: white;
    height: 10rem;
    width: 100%;
}

.container{
    margin: 0 auto;
    width: 30rem;
}

.app-title{
    font-size: 2.5rem;
    padding: 10px 0 20px 0;
    text-align: center;
}

.view-title{
    font-size: 1.5rem;
    text-align: center;
}

.view-button{
    align-items: center;
    background: orange;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    height: 2rem;
    justify-content: center;
    margin: 10px auto;
    user-select: none;
    width: 10rem;
}

.view-button:hover{
    background: rgb(230, 149, 0);
}