/*
==========================================
    Universidad del Valle de Guatemala
    Sistemas y tecnologias web

    Jose Martinez
    15163

    Laboratorio #9
==========================================
*/

.last-chismes-title{
    font-size: 2.5rem;
    margin: 15px auto 20px auto;
    width: 50rem;
}