
.info-box{
    background: rgba(239, 238, 245, 0.822);
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.575);
    margin: 0 auto 30px auto;
    width: 40rem;
}

.city-name{
    font-size: 3rem;
    text-align: center;
}

.current-temperature{
    text-align: center;
    font-size: 2.5rem;
}

.current-icon{
    text-align: center;
}

.temperature-limits{
    font-size: 2rem;
    text-align: center;
}