/*
==========================================
    Universidad del Valle de Guatemala
    Sistemas y tecnologias web

    Jose Martinez
    15163

    Laboratorio #4
    simon-app.css
==========================================
*/

/* Boton de "Start Game" */
.button-start{
    align-items: center;
    background: rgb(132, 215, 218);
    border-radius: 10px;
    display: flex;
    font-size: 1.2rem;
    height: 3rem;
    justify-content: center;
    margin: 2rem auto;
    width: 10rem;
}

/* Boton de "Game Start" desaparecido*/
.button-start.disable{
    display: none;
}

/* Cuando el mouse pasa por encima del boton de "Start Game" */
.button-start:hover{
    background: rgb(116, 191, 194);
    cursor: pointer;
}

/* Texto que aparece abajo del tablero*/
.bottom-text{
    color:white;
    font-size: 2rem;
    margin: 20px auto;
}