/*
==========================================
    Universidad del Valle de Guatemala
    Sistemas y tecnologias web

    Jose Martinez
    15163

    Laboratorio #6
==========================================
*/

.client-view{
    display: flex;
}

.products-box{
    flex-grow: 1;
}

.account-box{
    flex-grow: 1;
}