/*
==========================================
    Universidad del Valle de Guatemala
    Sistemas y tecnologias web

    Jose Martinez
    15163

    Laboratorio #4
    index.css
==========================================
*/

body {
  background: black;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
}
