
/*#region reset*/
/*
  ========================================
  RESET
  ========================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* #endregion */

/*#region nav-bar*/
/*
  ========================================
  Nav bar
  ========================================
*/

.main-nav {
    background: white;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.navlist{
    margin: 0 auto;
    position: relative;
    text-align: right;
    width: 80%;
}


.nav-item{
    display: inline-block;
    margin-right: 50;
    padding-top: 25px;
}


.nav-item-logo {
    position: absolute;
    left: 20px;
    top: 17px;
}

.logo-image{
    width: 30px;
}

.logo-name{
    width: 115px;
}

.nav-item-secondary{
    display: inline-block;
}

.nav-item-tertiary{
    display: inline-block;
}
/* #endregion */

/*#region trial-block*/
/*
  ========================================
  Trial block
  ========================================
*/

.trial-block{
    background-attachment: fixed;
    background-image: url("../firstblock-background.png");
    background-size: cover;
    height: auto;
    margin-top: 80px;
}

.trial-block-1{
    display: flex;
    height: 600px;
    width: 100%;
}

        /*#region info-block*/
        /*
        ========================================
        Info Block
        ========================================
        */ 


.trial-info-block{
    position: relative;
    width: 50%;
    height: 100%;
}

.trial-text-info{
    bottom: 0;
    height: 30%;
    left: 0;
    margin:auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
}

.trial-title-info{
    width: 100%;
}

.trial-title-info h1{
    color: white;
    font-weight: bold;
    font-size: 38px;
}

.trial-description-info{
    margin-top: 20px;
    color: white;
    font-size: 30px;
}
        /*#endregion*/

        /*#region form-block*/
        /*
        ========================================
        Form Block
        ========================================
        */ 

.trial-form-block{
    position: relative;
    width: 50%;
}

.trial-form-box{
    background: white;
    bottom: 0;
    height: 70%;
    left: 0;
    margin:auto;
    position: absolute;
    top: 0;
    width: 75%;
    border-radius: 5px;
}

.trial-form-title{
    background: rgb(233, 233, 233);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.trial-form-title span{
    font-weight: bold;
}

.trial-form-entries{
    display: flex;
    background: papayawhip;
    padding: 30px;
}

.trial-form-entries div {
    width: 50%;
}

        /*#endregion*/
/*#endregion*/

/*#region media*/
/*
  ========================================
  MEDIA (cambio de tamaño de pantalla)
  ========================================
*/

@media (max-width: 950px) and (min-width: 700px){

    /*
    ======================
    NAV BAR MEDIA
    ======================
    */
    /*#region nav-bar-media*/
    .main-nav{
        height: 65px;
    }

    .nav-list{
        width: 100%;
        margin: 0px;
        }

    .nav-item-logo{
        left: 45%;
        top: 15px;
    }

    .nav-item-tertiary{
        display: none;
    }

    .nav-item:last-child{
        padding-top: 15px;
        margin-right: 0px;
    }

    .logo-name{
        display: none;
    }
    /*#endregion*/

    /*
    ======================
    TRIAL BLOCK MEDIA
    ======================
    */
    .trial-block{
        margin-top: 65px;
    }

    .trial-block-1{
        display: block;
        height: auto;
        width: 100%;
    }

    .trial-info-block{
        width: 100%;
        height: auto;
        padding: 50px 0 50px 0; 
    }

    .trial-text-info{
        margin:auto;
        position: static;
        width: 90%;
        height: auto;
    }

    .trial-form-block{
        width: 100%;
        padding-bottom: 50px;
    }

    .trial-form-box{
        height: 50%;
        margin:auto;
        position: static;
        width: 90%;
    }

}

@media (max-width: 700px){
    .main-nav{
        height: 45px;
    }

    .nav-list{
        width: 100%;
    }

    .nav-item-logo{
        left: 50%;
        top: 7px;
    }

    .nav-item-tertiary,
    .nav-item-secondary{
        display: none;
    }

    .nav-item:last-child{
        padding-top: 15px;
        margin-right: 0px;
    }

    .logo-name{
        display: none;
    }

    /*
    ======================
    FIRST BLOCK
    ======================
    */
    .trial-block{
        margin-top: 45px;
    }

    .trial-block-1{
        display: block;
        height: auto;
        width: 100%;
    }

    .trial-info-block{
        width: 100%;
        height: auto;
        padding: 50px 0 50px 0; 
    }

    .trial-text-info{
        margin:auto;
        position: static;
        width: 90%;
        height: auto;
    }

    .trial-form-block{
        width: 100%;
        padding-bottom: 50px;
    }

    .trial-form-box{
        height: 50%;
        margin:auto;
        position: static;
        width: 90%;
    }
}
/*#endregion*/