
/*#region reset*/
/*
  ========================================
  RESET
  ========================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* #endregion */

/*#region nav-bar*/
/*
  ========================================
  Nav bar
  ========================================
*/

.main-nav {
    background: white;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}

.navlist{
    margin: 0 auto;
    position: relative;
    text-align: right;
    width: 85%;
}


.nav-item{
    display: inline-block;
    margin-right: 50;
    padding-top: 25px;
}


.nav-item-logo {
    position: absolute;
    left: 40px;
    top: 17px;
}

.logo-image{
    width: 29px;
}

.logo-name{
    width: 110px;
}

.nav-item-secondary{
    display: inline-block;
}

.nav-item-tertiary{
    display: inline-block;
}
/* #endregion */

/*#region trial-block*/
/*
  ========================================
  Trial block
  ========================================
*/

.trial-block{
    background-attachment: fixed;
    background-image: url("../firstblock-background.png");
    background-size: cover;
    height: auto;
    margin-top: 70px;
    padding-top: 20px;
}

.trial-block-1{
    display: flex;
    height: 562px;
    width: 100%;
}

        /*#region info-block*/
        /*
        ========================================
        Info Block
        ========================================
        */ 


.trial-info-block{
    position: relative;
    width: 50%;
    height: 100%;
}

.trial-text-info{
    bottom: 0;
    height: 30%;
    margin:auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
}

.trial-title-info{
    width: 100%;
}

.trial-title-info h1{
    color: white;
    font-weight: bold;
    font-size: 38px;
}

.trial-description-info{
    margin-top: 20px;
    color: white;
    font-size: 30px;
}
        /*#endregion*/

        /*#region form-block*/
        /*
        ========================================
        Form Block
        ========================================
        */ 

.trial-form-block{
    position: relative;
    width: 50%;
}

.trial-form-box{
    background: white;
    border-radius: 5px;
    bottom: 0;
    height: 78%;
    left: 0;
    margin:auto;
    position: absolute;
    top: 0;
    width: 75%;
}

.trial-form-title{
    background: rgb(233, 233, 233);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
}

.trial-form-title span{
    font-weight: bold;
}

.trial-form-entries{
    display: flex;
    padding: 0px 30px 0px 30px;
}

.trial-form-entries div.columna {
    width: 50%;
}

.trial-form-entries div.columna div.entry{
    margin-top: 30px;
}

.trial-form-entries div.columna div.entry label{
    color: rgb(85, 85, 85);
    font-weight: bold;
    margin-top: 30px;
}

.trial-form-entries div.columna div.entry input{
    background: rgb(250, 250, 250);
    border-color: rgb(220, 220, 220);
    border-radius: 5px;
    border-style: solid;
    font-size: 16px;
    height: 45px;
    margin-top: 10px;
    outline: none;
    text-indent: 13px;
    width: 95%;
}

.trial-form-entries div.columna div.entry input:focus{
    background: white;
    border-color: rgb(143, 143, 143);
}

.trial-form-entries div.columna div.entry input:hover{
    border-color: rgb(143, 143, 143);
}

.trial-form-checkbox{
    border-bottom: 1px;
    border-color: rgba(128, 128, 128, 0.315);
    border-style: solid;
    font-size: 14px;
    margin: 25px 25px 25px 35px;
    outline: none;
    padding-bottom: 25px;
}

.trial-form-checkbox input[type=checkbox]{
    background-color: white;
    color: white;
}

.trial-form-submitbutton{
    background: #387bab;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: auto;
    padding: 20px 0 20px 0;
    text-align: center;
    width: 90%;
}

.trial-form-submitbutton:hover{
    background: #2a5d81;
}

        /*#endregion*/

        /*#region trial-block-items*/
        /*
        ========================================
        Items block
        ========================================
        */ 
.trial-block-content-items{
    color: white;
    padding-bottom: 35px;
}

.trial-block-content-items ul{
    text-align: center
}

.trial-block-content-items ul li{
    display: inline-block;
    font-size: 1.125rem;
    margin-right: 50px;
}

.trial-block-content-items ul li span{
    display: inline-block;
    font-size: 2.25rem;
}

        /*#endregion*/

/*#endregion*/

/*#region qualities-block*/
/*
  ========================================
  QUALITIES BLOCK
  ========================================
*/

.qualities-block{
    background-color: rgb(250, 250, 250);
    background-image: url("../secondblock-background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: auto;
}

        /*#region flexible-quality*/
        /*
        ========================================
        FLEXIBLE QUALITY
        ========================================
        */

.qualities-block-flexible{
    border-bottom: 1px solid rgba(128, 128, 128, 0.288);
    display: flex;
    margin: 0 auto;
    padding-bottom: 80px;
    width: 82%;

}

.qualities-block-flexible-video{
    text-align: right;
    width: 65%;
}

.qualities-block-flexible-video-image{
    border-radius: 5px;
    margin: 80px 30px auto auto;
    width: 95%;
}

.qualities-block-flexible-description{
    width: 35%;
}

.qualities-block-flexible-description div.text{
    line-height: 30px;
    margin: 100px 10% auto auto;
}

.qualities-block-flexible-description div.text div.title{
    font-size: 28px;
    font-weight: bold;
}

.qualities-block-flexible-description div.text div.description{
    color: gray;
    margin-top: 20px;
}
        /*#endregion flexible-quality*/

        /*#region supportive-valuable*/
        /*
        ========================================
        SUPORTIVE VALUABLE QUALITY
        ========================================
        */
.qualities-block-supportive-valuable{
    display: flex;
    line-height: 30px;
    margin: 75px auto;
    padding-bottom: 50px;
    width: 82%;
}

.qualities-block-supportive-valuable div.supportive{
    padding-left: 25px;
    width: 50%;
}

.qualities-block-supportive-valuable div.valuable{
    padding-left: 25px;
    width: 50%;
}

.qualities-block-supportive-valuable div div.title{
    font-size: 28px;
    font-weight: bold;
}

.qualities-block-supportive-valuable div div.description{
    color: gray;
    margin-top: 15px;
    width: 85%;
}

.qualities-block-supportive-valuable div div.image{
    margin: 50px auto 0 auto;
}

.qualities-block-supportive-valuable div div.image img{
    display: block;
    margin: 0 auto;
    width: 50%;
}

        /*#endregion supportive-valuable*/

/*#endregion qualities-block*/

/*#region partnerships-block*/
/*
  ========================================
  PARTNERSHIPS BLOCK
  ========================================
*/
.partnerships-block{
    font-size: 36px;
    margin: 0 auto 30px auto;
    text-align: center;
    width: 90%;
}

.partnerships-block div.title{
    margin-bottom: 50px;
}

.partnerships-block ul li{
    display: inline-block;
}

.partnerships-block ul li img{
    display: block;
    padding: 0 24 80 24;
}

.partnerships-block ul li img.google{
    width: 300px;
}

.partnerships-block ul li img.ibm{
    width: 230px;
}

.partnerships-block ul li img.amazon{
    width: 248px;
}

.partnerships-block ul li img.microsoft{
    width: 206px;
}

/*#endregion partnerships-block*/

/*#region techdegree-block*/

.techdegree-block{
    background: rgb(240, 240, 240);
    overflow: hidden;
}

.techdegree-block div.techdegree-box{
    background: white;
    border-radius: 5px;
    display: flex;
    height: 451px;
    margin: 75px auto;
    width: 80%;
}

.techdegree-box div.chris-stone{
    background: url(https://static.teamtreehouse.com/assets/views/marketing/home/chris-stone-7e346d6d0a111dec7368acc731a9e9fc87d467ee7402fa5a54c5b673a342635e.png) left/cover no-repeat;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
    width: 42%;
}

.techdegree-box div.chris-stone div{
    bottom: 20px;
    color: white;
    left: 30px;
    line-height: 25px;
    position: absolute;
    right: 30px;
}

.techdegree-box div.chris-stone div span{
    color: gray;
    font-size: 14px;
}

.techdegree-box div.techdegree{
    display: flex;
    width: 58%;
}

.techdegree-box div.techdegree div.information{
    width: 65%;
    padding: 60px 50px;
}

.techdegree-box div.techdegree div.techdegree-logo{
    position: relative;
    width: 35%;
}

.techdegree-box div.techdegree div.information div.title{
    font-size: 28px;
    font-weight: bold;
}

.techdegree-box div.techdegree div.information ul li{
    margin-top: 40px;
    color: rgb(107, 107, 107);
}

.techdegree-box div.techdegree div.information ul li img{
    height: 1.5rem;
    margin-right: 5px;
}

.techdegree-box div.techdegree div.information div.learn-more{
    background: #674993;
    height: 52px;
    border-radius: 5px;
    position: relative;
    margin-top: 35px;
    width: 90%;;
    
}

.techdegree-box div.techdegree div.information div.learn-more div.title{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 16px;
    height: 16px;
    width: 100px;
    font-weight: bold;
    color: white;
}

.techdegree-box div.techdegree div.techdegree-logo img{
    bottom: 0;
    display: block;
    height: 155px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 155px;
}

/*#endregion techdegree-block*/

/*#region media*/
/*
  ========================================
  MEDIA (cambio de tamaño de pantalla)
  ========================================
*/

@media (max-width: 950px) and (min-width: 700px){
    /*#region nav-bar-media*/
    /*
    ======================
    NAV BAR MEDIA
    ======================
    */

    .main-nav{
        height: 65px;
    }

    .nav-list{
        width: 100%;
        margin: 0px;
        }

    .nav-item-logo{
        left: 45%;
        top: 15px;
    }

    .nav-item-tertiary{
        display: none;
    }

    .nav-item:last-child{
        padding-top: 15px;
        margin-right: 0px;
    }

    .logo-name{
        display: none;
    }
    /*#endregion*/


    /*#region trial-block-media*/
    /*
    ======================
    TRIAL BLOCK MEDIA
    ======================
    */
    .trial-block{
        margin-top: 65px;
    }

    .trial-block-1{
        display: block;
        height: auto;
        width: 100%;
    }

    .trial-info-block{
        width: 100%;
        height: auto;
        padding: 50px 0 50px 0; 
    }

    .trial-text-info{
        margin:auto;
        position: static;
        width: 90%;
        height: auto;
    }

    .trial-form-block{
        width: 100%;
        padding-bottom: 50px;
    }

    .trial-form-box{
        height: auto;
        margin:auto;
        position: static;
        width: 90%;
    }
    /*#endregion trial-block-media*/

    /*#region qualities-block-media*/
    /*
    ======================
    QUALITITES BLOCK MEDIA
    ======================
    */
            /*
            ======================
            QUALITITES BLOCK MEDIA FLEXIBLE
            ======================
            */
    .qualities-block-flexible{
        display: block;
        width: 92%;
    }

    .qualities-block-flexible-video{
        text-align: center;
        width: 100%;
    }

    .qualities-block-flexible-video-image{
        border-radius: 5px;
        margin: 80px auto auto auto;
        width: 95%;
    }

    .qualities-block-flexible-description{
        width: 100%;
    }
    
    .qualities-block-flexible-description div.text{
        line-height: 30px;
        margin: 30px 20px auto 20px;
    }

            /*
            ======================
            QUALITITES BLOCK MEDIA SUPPORTIVE VALUABLE
            ======================
            */

    .qualities-block-supportive-valuable{
        display: block;
        line-height: 30px;
        margin: 75px auto;
        width: 92%;
    }

    .qualities-block-supportive-valuable div.supportive{
        width: 100%;
    }
    
    .qualities-block-supportive-valuable div.valuable{
        width: 100%;
    }

    .qualities-block-supportive-valuable div div.image img{
        width: 35%;
    }
    /*#endregion qualities-block-media*/
}

@media (max-width: 700px){
    /*#region nav-bar-media*/
    /*
    ======================
    NAV BAR MEDIA
    ======================
    */
    .main-nav{
        height: 45px;
    }

    .nav-list{
        width: 100%;
    }

    .nav-item-logo{
        left: 50%;
        top: 7px;
    }

    .nav-item-tertiary,
    .nav-item-secondary{
        display: none;
    }

    .nav-item:last-child{
        padding-top: 15px;
        margin-right: 0px;
    }

    .logo-name{
        display: none;
    }
    /*#endregion nav-bar-media*/

    /*#region trial-block-media*/
    /*
    ======================
    TRIAL BLOCK
    ======================
    */
    .trial-block{
        margin-top: 45px;
    }

    .trial-block-1{
        display: block;
        height: auto;
        width: 100%;
    }

    .trial-info-block{
        width: 100%;
        height: auto;
        padding: 50px 0 50px 0; 
    }

    .trial-text-info{
        margin:auto;
        position: static;
        width: 90%;
        height: auto;
    }

    .trial-form-block{
        width: 100%;
        padding-bottom: 50px;
    }

    .trial-form-box{
        height: auto;
        margin:auto;
        position: static;
        width: 90%;
    }

    .trial-form-entries{
        display: block;
    }

    .trial-form-entries div.columna {
        width: 100%;
    }
    /*#endregion trial-block-media*/

    /*#region qualities-block-media*/
    /*
    ======================
    QUALITITES BLOCK MEDIA
    ======================
    */
            /*
            ======================
            QUALITITES BLOCK MEDIA FLEXIBLE
            ======================
            */
    .qualities-block-flexible{
        display: block;
        width: 92%;
    }

    .qualities-block-flexible-video{
        text-align: center;
        width: 100%;
    }

    .qualities-block-flexible-video-image{
        border-radius: 5px;
        margin: 80px auto auto auto;
        width: 95%;
    }

    .qualities-block-flexible-description{
        width: 100%;
    }
    
    .qualities-block-flexible-description div.text{
        line-height: 30px;
        margin: 30px 20px auto 20px;
    }

            /*
            ======================
            QUALITITES BLOCK MEDIA SUPPORTIVE VALUABLE
            ======================
            */

    .qualities-block-supportive-valuable{
        display: block;
        line-height: 30px;
        margin: 75px auto;
        width: 92%;
    }

    .qualities-block-supportive-valuable div.supportive{
        width: 100%;
    }
    
    .qualities-block-supportive-valuable div.valuable{
        width: 100%;
    }

    .qualities-block-supportive-valuable div div.image img{
        width: 35%;
    }
    /*#endregion qualities-block-media*/
}
/*#endregion*/


